{% set title = "Open Music Review - Home" %}
{% extends "base.html" %}
{%block main%}
<div class="home-header">
  <img class='logo-image' src="../static/images/logo.png" alt='main logo'>
  <h1>Open Music Review</h1>
  <p>Welcome to the 'Open Music Review' a site dedicated to Music Reviews by the people for the people completely independant so you can
    get the truth about new releases or discover new songs to add to your playlist with our spotify integration you can easily listen
    to snippets of each song and add them directly to your playlist<br> See below our featured review!
  </p>
</div>
{% if featured_review %}
<article class="review-card">
  <h2 class="featured-review-heading">Featured Review</h2>
      <div class="review-header">
        <h2 class="review-title">{{ featured_review.title }}</h2>
        <span class="score-badge">{{ featured_review.score }}/10</span>
      </div>
      <div class="review-album">From the album {{ featured_review.album }} by {{ featured_review.artist }}</div>
      <div class="review-meta">
        Written by {{ featured_review.author.username }}
      </div>
      <div class="review-content">
        {{ featured_review.content }}
      </div>
        <div class="review-embed">
          <iframe
            data-testid="embed-iframe"
            style="border-radius:12px"
            src="{{ featured_review.get_song_embed_code() }}"
            width="100%"
            height="152"
            frameborder="0"
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy">
          </iframe>
        </div>
        {%else%}
        <div class="submission-card">
      <p class="submission-empty">No Reviews posted yet.</p>
    </div>
        {%endif%}
{%endblock main%}
